.book-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-info {
    display: flex;
    align-items: center;
}

    .book-info img {
        width: 200px;
        height: 300px;
        margin-right: 20px;
    }

.book-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.book-description {
    font-size: 14px;
}
